.App {
  margin: 0;
  padding: 0;
  background: #FFF;
  width: 100vw;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 15vh;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: #000;
}


.about_us {
  padding-left: 10vw;
  background: #Fff;
  height: 10vh;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  justify-content: center;
  align-items: center;
}
.about_us_item {
  padding: 2rem;
  
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
